{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<div class="main-body">
    <div class="page-header">
        <h5> Apply for visa in just a few seconds </h5>
        <p></p>
    </div>

    <div class="intro-text">
        <div>
            <img src="static/images/happy-visa.jpeg/">
            <p></p>
        </div>
        No more information overload, no more burden of admin tasks, in just a few clicks, your visa application got submitted for you.
    </div>

    <div class="d-grid gap-2 col-2 mx-auto">
        <p></p>
        <button class='btn btn-primary'><a class='nav-link' style="color:white;" href="/inquiry">Start now!</a></button>
    </div>
{% endblock %}